{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h2>  {{movie.title}} ({{movie.year}})</h2>
      </div>
    <div class="panel-body">
        <img src='{{movie.poster}}' style='height:50%;float: left;margin:2%' class='img-responsive img-thumbnail' id='gambar'/><br>
      <div id="break"></id>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3> Genre <h3>
            </div>
            <div class="panel-body">
                <h4>{{movie.genre}}<h4>
            </div>
          </div>
          <div class="panel-heading">
            <h3> Plot <h3>
          </div>
          <div class="panel-body">
              <p>{{movie.plot}}<p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3> Rating <h3>
          </div>
          <div class="panel-body">
              {% for rating in movie.ratings %}
              <h4> {{rating.Source}}: {{rating.Value}}<h4>
              {% endfor %}
              <h4> Rated: {{movie.rated}}</h4>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3> Actors <h3>
          </div>
          <div class="panel-body">
              <h4>{{movie.actors}}<h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3> Writer <h3>
          </div>
          <div class="panel-body">
              <h4>{{movie.writer}}<h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3> Awards <h3>
          </div>
          <div class="panel-body">
              <h4>{{movie.awards}}<h4>
          </div>
        </div>

      </div>
    </div>

    </div>
    <div class="panel-footer">
      <div class="box">
          {% if added %}
          <button class="btn btn-success"> Added to Watch Later </button>
          {% else %}
          <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
          {% endif%}
      </div>
    </div>


</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
      if ($(window).width() < 692) {
        $("#gambar").css("float","none");
      }
    });
</script>
{% endblock %}
