{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend List</h2> <a href="{% url 'lab-7:index' %}"> <button class="btn btn-primary btn-round ">Home </button></a><br>
                    <div id="friend-list" class="list-group">
                      {% if friend_list %}
                        {% csrf_token %}
                          <div id="all-friend"></div>
                      {% else %}
                      <div class="alert alert-danger text-center">
                        <strong>Opps!</strong> Tidak ada teman
                      </div>
                      {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
    $( document ).ready(function () {
         {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
         $.ajax({
             method: "GET",
             url: '{% url "lab-7:get-friend-list-json" %}',
             dataType: 'json',
             success: function (data) {
                 console.log(data.length);
                 if (data.length == 0) {
                     html = '<div class="alert alert-danger text-center">' +
                             '<strong>Opps!</strong> Tidak ada teman' +
                         +'</div>';
                     $("#all-friend").append(html);
                 }
                 else {
                     console.log(data)
                     for (var key in data){
                     console.log(key);
                     var buttonDelete = '<span class="btn btn-default btn-danger" onClick="deleteFriend('+ "'" + data[key].fields.friend_name + "'"
                         + ', '+ "'" + data[key].fields.npm + "'" + ');"'+ 'style="float: right; margin-left: 5px;"'+'>Delete</span>';
                     html = '<a class="list-group-item clearfix" '+ 'id='+ data[key].fields.npm + '>' +
                         data[key].fields.friend_name + " (" + data[key].fields.npm + ")"+ buttonDelete +
                         '</a>';
                     $("#all-friend").append(html);
                     }
                 }

             },
             error: function(error){
                 alert("Data gagal diterima");
                 html = '<div class="alert alert-danger text-center">' +
                             '<strong>Opps!</strong> Tidak ada teman' +
                         +'</div>';
                 $("#all-friend").append(html);
             }
         });
     });
     var deleteFriend = function(nama, npm) {
           $.ajax({
               method: "POST",
               url: '{% url "lab-7:delete-friend" %}',
               data: { name: nama, npm: npm},
               success : function (response) {
                   $("#" + npm).remove()
               },
               error : function (error) {
                   alert("Mahasiswa tersebut tidak ada");
               }
           });
        };


    </script>
{% endblock %}
